*{
    box-sizing: border-box;
}

.container-fluid{
    margin:2rem auto;
    padding: 0 2.5rem;
}

.breadcrumb{
    background-color: transparent;
    width: 100%;
    padding: 0;
    font-weight: 600;
}

.breadcrumb-item+.breadcrumb-item::before{
    content:'>';
    color:black;
    font-weight: 600;
}

.btn-primary{
    background: #D428AC;
    border-color: #D428AC;
    border-radius: 0;
}

.btn-primary:hover{
    background: #DF62C2;
    border-color: #DF62C2; 
}

.all-stories{
    display: inline-block;
    width:65%;
}

.card{
    width:18.75rem;
    height: 24.75rem;
}


.card-body{
    background-color: #D428AC;
    color: white;
    padding: 0.7rem;
}

.card-text{
    font-size: 0.8rem;
    margin-bottom: 0;
}

.card-text:first-of-type{
    font-weight: 600;
    font-size: 1rem;
}

.card-text:last-of-type{
    text-align: right;
}

.trending-stories{
    display: inline-block;
    width: 30%;
    margin-left: 2rem;
}

.trending-stories-heading{
    text-align: center;
    margin:1rem 0;
}

.trending-stories .card{
    margin: 1rem auto;
}


@media screen and (max-width:1100px){
    .all-stories{
        width:100%;
        display: block;
    }

    .all-stories .col-lg-6 .card{
        margin:0 auto;
    }

    .trending-stories{
        width:50%;
        display: block;
        margin: 2rem auto;
    }

}

@media screen and (max-width:830px){
    .all-stories .col-lg-6{
        margin:0 auto;
    }
}

@media screen and (max-width:768px){
    .btn{
        margin:3px;
    }

    .all-stories .row{
        margin:0 !important;
    }
    .all-stories .col-lg-6 .card{
        margin: 20px auto;
    }
    .trending-stories{
        width: 100%;
    }

}


