body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #fff;
}
.women{
	position: absolute;
	padding-left: 200px;
	padding-top: 80px;
	height: 500px;
	width: 700px;
}
.box{
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 65%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.box input[type="text"],.box input[type="password"]{
	border: 0;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #000000;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
}
.box h1{
	color: black;
	text-transform: uppercase;
	font-weight: 500;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
	width: 280px;
	border-color: #D428AC;
}
.box input[type="submit"]{
	border: 0;
	display: block;
	margin: 20px auto;
	text-align: center;
	background: white;
	border: 2px solid #000000;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type="button"]{
	border: 0;
	background: none;
	margin: 2px;
	text-align: center;
	padding: 4px 40px;
	outline: none;
	color: #000000;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type="submit"]:hover{
	background: #D428AC;
	border: none;
}